<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezytmupi.ezytmupipayment">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <queries>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />

            <data android:scheme="upi" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <application>

        <activity
            android:name=".uiactivity.PaymentUpiActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />


<!--        <activity-->
<!--            android:name=".uiactivity.WalletActivity"-->
<!--            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />-->
    </application>

</manifest>